/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Todhri&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,700;1,700&display=swap');
body{
    background-image: url(../img/sfondo.png);
    font-family: "Roboto Condensed", serif;
}
/* HEADER */
#start{
    align-items: center;
    width: 20%;
    height: 20%;
}

#start img{
    width: 100%;
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
